@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@source "../../../apps/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.58 0.22 27);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.809 0.105 251.813);
	--chart-2: oklch(0.623 0.214 259.815);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.87 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.371 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.809 0.105 251.813);
	--chart-2: oklch(0.623 0.214 259.815);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
	--font-sans: var(--font-poppins), sans-serif;
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);

	/* Color styles */
	--color-secondary-50: #fef8ea;
	--color-secondary-100: #fceabc;
	--color-secondary-200: #fbdf9c;
	--color-secondary-300: #f9d16f;
	--color-secondary-400: #f8c853;
	--color-secondary-500: #f6ba28;
	--color-secondary-600: #e0a924;
	--color-secondary-700: #af841c;
	--color-secondary-800: #876616;
	--color-secondary-900: #674e11;
	--color-primary-50: #e9ecef;
	--color-primary-100: #bac3cc;
	--color-primary-200: #98a5b3;
	--color-primary-300: #6a7c90;
	--color-primary-400: #4d637b;
	--color-primary-500: #203c5a;
	--color-primary-600: #1d3752;
	--color-primary-700: #172b40;
	--color-primary-800: #122132;
	--color-primary-900: #0d1926;
	--color-neutral-50: #f2f2f2;
	--color-neutral-100: #d7d7d7;
	--color-neutral-200: #c3c3c3;
	--color-neutral-300: #a8a8a8;
	--color-neutral-400: #979797;
	--color-neutral-500: #7d7d7d;
	--color-neutral-600: #727272;
	--color-neutral-700: #595959;
	--color-neutral-800: #454545;
	--color-neutral-900: #353535;
	--color-error-50: #ffebeb;
	--color-error-100: #ffc1c1;
	--color-error-200: #ffa3a3;
	--color-error-300: #ff7a7a;
	--color-error-400: #ff6060;
	--color-error-500: #ff3838;
	--color-error-600: #e83333;
	--color-error-700: #b52828;
	--color-error-800: #8c1f1f;
	--color-error-900: #6b1818;
	--color-warning-50: #fff8ec;
	--color-warning-100: #ffeac4;
	--color-warning-200: #ffdfa8;
	--color-warning-300: #ffd180;
	--color-warning-400: #ffc868;
	--color-warning-500: #ffba42;
	--color-warning-600: #e8a93c;
	--color-warning-700: #b5842f;
	--color-warning-800: #8c6624;
	--color-warning-900: #6b4e1c;
	--color-success-50: #ecfff1;
	--color-success-100: #c4ffd3;
	--color-success-200: #a8ffbe;
	--color-success-300: #80ffa0;
	--color-success-400: #68ff8d;
	--color-success-500: #42ff71;
	--color-success-600: #3ce867;
	--color-success-700: #2fb550;
	--color-success-800: #248c3e;
	--color-success-900: #1c6b2f;
	--color-info-50: #eff3ff;
	--color-info-100: #cedaff;
	--color-info-200: #b6c8ff;
	--color-info-300: #95afff;
	--color-info-400: #81a0ff;
	--color-info-500: #6188ff;
	--color-info-600: #587ce8;
	--color-info-700: #4561b5;
	--color-info-800: #354b8c;
	--color-info-900: #29396b;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply font-sans bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}
